
@{
    ViewBag.Title = "Agenda";
}
<link href="~/Content/Fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<section class="main-content">
    <div class="row">
        <div class="col-md-3 no_print">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4 style="border-bottom: 1px solid #eff2f7">Colaboradores</h4>
                    <div id="selecionar-todos-container" class="row" style="display:none">
                        <div class="col-md-12 text-center no-padding">
                            <div id="editCheckboxTodos"></div>
                        </div>
                    </div>
                </div>
                <div id="containerColaboradores"></div>
            </div>
        </div>
        <div id="containerAgenda" class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="field_agenda" />
                </div>
            </div>
        </div>
    </div>
</section>
@*<script>
        var visualizaTodosEventos = '@ViewBag.VisualizaTodosEventos' === 'True';
        var mensagens = @Html.Raw(Json.Encode(Model.Mensagens));
        var labels = @Html.Raw(Json.Encode(Model.Labels));
        var tabela = @Html.Raw(Json.Encode(Model.Tabela));
        var palavrasDateTimePicker = @Html.Raw(Json.Encode(Model.DateTimePicker));
    </script>*@
@section Scripts{
    @Scripts.Render("~/bundles/agenda")
}